.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  align-self: flex-end;
  width: 25%;
  height: 200px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  width: 50%;
}

.purple {
  background-color: purple;
}
