body {
  display: flex;
  padding: 0;
  margin: 0;
}

div {
  width: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list,
.empty {
  border: 1px solid black;
}

.selected {
  background-color: cornflowerblue;
}
