$base-color: #4e4e3e;

body {
  background-color: $base-color;
  main {
    background-color: $base-color;
    section {
      background-color: $base-color;
    }
    div {
      background-color: $base-color;
    }
  }
}
